<div class="panel panel-default panel-content-crud">
    <div class="panel-heading panel-header-crud">
        <h4>Listar Tarefas</h4>
    </div>
    <div class="panel-body">
        <message [mensagemInput]="mensagem"></message>
        <form>
            <div class="table-responsive">
                <ng-table [config]="config"
                (tableChanged)="onChangeTable(config)"
                (cellClicked)="onCellClick($event)"
                [rows]="rows" [columns]="columns">
                </ng-table>
            </div>
            <pagination *ngIf="config.paging"
                class="pagination-sm"
                name = "page"
                [(ngModel)]="page"
                [totalItems]="length"
                [itemsPerPage]="itemsPerPage"
                [maxSize]="maxSize"
                [boundaryLinks]="true"
                [rotate]="false"
                (pageChanged)="onChangeTable(config, $event)"
                (numPages)="numPages = $event">
            </pagination>
            <pre *ngIf="config.paging" class="card card-block card-header">Page: {{page}} / {{numPages}}</pre>
        </form>
    </div>
    <div class="panel-footer panel-footer-crud">
        <div class="row">
            <div class="col-sm-2">
                <button type="submit" class="btn btn-defaut btn-block" (click)="cadastrarTarefa()">Cadastrar Tarefa</button> 
            </div>
        </div>
    </div>
</div>